@import "../bower_components/normalize-css/normalize.css";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);

@bg-color: #41759A;
@bg-color2: #4F51A7;
@bg-color3: #F0CA5C;
@bg-color4: #F0B05C;
@fg-color: #fff;

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-family: 'Source Sans Pro',sans-serif;
}
